body{
    background-image: url("hatter.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

nav{
    background-color: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

nav a{
    background-color: rgb(255, 169, 71);
    color: rgb(27, 0, 0);
    opacity: 1;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
}

nav a:hover{
    background-color: rgb(150, 33, 33);
    
}

.almenu{
    display: none;
    background-color: rgba(0,0,0,0.8);
   
}

.fomenu{
    position: relative;
}

.fomenu:hover .almenu{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}